<?xml version="1.0" encoding="utf-8"?>
<!-- ReSharper disable MarkupAttributeTypo -->
<configuration>
  <appSettings>
    <add key="KeyTest1" value="ValueTest1" />
    <add key="WebSite" value="ManpowerSe"/>
  </appSettings>
  <connectionStrings>
    <add name="CStest1" connectionString="CSvalue1" />
    <add name="MasterDB" connectionString="Data Source=localhost\sql2016;Initial Catalog=master;Integrated Security=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
  

</configuration>
