<?xml version="1.0" encoding="utf-8"?>
<!-- ReSharper disable MarkupAttributeTypo -->
<configuration>
  <appSettings>
    <add key="KeyTest1" value="ValueTest1" />
    <add key="WebSite" value="ManpowerSe"/>

    <add key="CStest1" value="CSvalue1" />
    <add key="COMPOSABLE_DATABASE_POOL_MASTER_CONNECTIONSTRING" value="Data Source=localhost;Initial Catalog=master;Integrated Security=True;" />
  </appSettings>
</configuration>
