
[Bb]in
obj
test-results

*.cache
*.suo
*.user
*TraceLog.xml
*.resharper
_Resharper.Caches*
TestResult.xml
*.VisualState.xml
*.g.cs

*.pidb
*.userprefs

!repositories.config
_NCrunch_*
*.favdoc
*.orig
.vs/

project.lock.json
SandcastleDocumentation/Help/
**/.idea/workspace.xml
**/.idea/tasks.xm
nCrunchTemp*
/src/framework/docs/
/src/framework/Documentation/Website/adoc-render-test/
/src/NCrunchDuplicateByDimensions
/src/TestUsingPluggableComponentCombinations
