
[Bb]in
obj
test-results

*.cache
*.suo
*.user
*TraceLog.xml
*.resharper
TestResult.xml
*.VisualState.xml
*.g.cs

*.pidb
*.userprefs
_Resharper*
CQRS/CQRS/__EmbeddedAssemblies/*.dll
CQRS/CQRS/__EmbeddedAssemblies/*.pdb