source C:\Manpower\NuGetFeed
#source https://api.nuget.org/v3/index.json
source http://nuget.teamcity.mpsedev.local/nuget

framework: >= net451

nuget AutoMapper
nuget CommonServiceLocator.WindsorAdapter
nuget FluentAssertions
nuget log4net
nuget Moq
nuget NCrunch.Framework
nuget Newtonsoft.Json
nuget NServiceBus.CastleWindsor
nuget NServiceBus.Host
nuget NServiceBus.NHibernate
nuget NServiceBus.Testing
nuget nspec
nuget NUnit
nuget Rx-Main