<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="net4" requireReinstallation="true" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net4" requireReinstallation="true" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net40" />
  <package id="NCrunch.Framework" version="2.4.0.2" targetFramework="net4" requireReinstallation="true" />
  <package id="NServiceBus" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.CastleWindsor" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.Host" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.Interfaces" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
</packages>