<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.0.0.4001" targetFramework="net40" />
  <package id="FluentAssertions" version="2.1.0.0" targetFramework="net40" />
  <package id="log4net" version="1.2.10" />
  <package id="Moq" version="4.1.1308.2321" targetFramework="net40" />
  <package id="NServiceBus" version="3.0.3.32" />
  <package id="NUnit" version="2.6.0.12054" />
</packages>