@model AccountManagement.Web.Views.RegisterAccount.DisplayAccountRegistrationViewModel

@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/Error.cshtml";
}

<h2>@Model.PageTitle</h2>
