<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
      <add name="EventStore" connectionString="Data Source=localhost;Initial Catalog=EventStorage;User ID=EventStorage;Password=EventStorage"/>
      <add name="KeyValueStore" connectionString="Data Source=localhost;Initial Catalog=KeyValueStore;User ID=KeyValueStore;Password=KeyValueStore"/>
   </connectionStrings>
</configuration>