<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
   </configSections>

   <connectionStrings>
      <add name="EventStore" connectionString="Data Source=localhost;Initial Catalog=EventStore;User ID=EventStorage;Password=EventStore"/>
      <add name="KeyValueStore" connectionString="Data Source=localhost;Initial Catalog=KeyValueStore;User ID=KeyValueStore;Password=KeyValueStore"/>
   </connectionStrings>


   <log4net debug="false">
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
         <file value="CQRS.Tests.log" />
         <rollingStyle value="Size" />
         <maxSizeRollBackups value="2" />
         <maximumFileSize value="500MB" />
         <staticLogFileName value="true" />
         <appendToFile value="true" />
         <layout type="log4net.Layout.XMLLayout" />
      </appender>
      <root>
         <level value="WARN" />
         <appender-ref ref="RollingFileAppender" />
      </root>
      <logger name="NHibernate">
         <level value="WARN" />
      </logger>
      <logger name="NServiceBus">
         <level value="INFO" />
      </logger>
      <logger name="Manpower">
         <level value="DEBUG" />
      </logger>
      <logger name="Composable">
         <level value="DEBUG" />
      </logger>
   </log4net>

</configuration>