<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="FluentAssertions" version="4.0.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net451" />
  <package id="NCrunch.Framework" version="2.16.0.13" targetFramework="net451" />
  <package id="NServiceBus.Interfaces" version="4.7.6" targetFramework="net451" />
  <package id="nspec" version="1.0.1" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net451" />
</packages>