code{
  border: none; //Reset silly foundation default that messes up code
}

[data-sticky]{
  width: 100%; //Required by the sticky component
}

.top-bar-title{
  a{
    color: #0a0a0a;
  }
}

a {
  text-decoration: none;
  .asciidoc & {
    text-decoration: underline;
  }
}

.page-toc {
  ul{
    list-style-type: none;
  }

  nav{
    overflow-y: auto;
    max-height: 92vh;
  }
}