<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net40" />
  <package id="FluentAssertions" version="4.0.0" targetFramework="net40" />
  <package id="NCrunch.Framework" version="2.16.0.13" targetFramework="net40" />
  <package id="NServiceBus" version="4.7.6" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.CastleWindsor" version="4.7.6" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.Host" version="4.7.6" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.Interfaces" version="4.7.6" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
</packages>