<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="net4" requireReinstallation="true" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net4" requireReinstallation="true" />
  <package id="Iesi.Collections" version="3.3.3.4000" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="NServiceBus" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.CastleWindsor" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.Host" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.Interfaces" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.NHibernate" version="4.5.0" targetFramework="net40" allowedVersions="[1,5.0)" />
</packages>