<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.1.1" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.WindsorAdapter" version="1.0.1" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net40" />
  <package id="NCrunch.Framework" version="2.4.0.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" allowedVersions="[5.0.8, 7.0)" />
  <package id="NServiceBus" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.Interfaces" version="4.6.3" targetFramework="net40" allowedVersions="[1,5.0)" />
  <package id="nspec" version="0.9.67" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net40" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net40" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.2.3" targetFramework="net40" />
</packages>