<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="DBSubscriptionStorageConfig" type="NServiceBus.Config.DBSubscriptionStorageConfig, NServiceBus.NHibernate" />
    <section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <add key="EnvironmentName" value="unittests" />
  </appSettings>
  <MsmqTransportConfig ErrorQueue="Composable.Testing.Errors" NumberOfWorkerThreads="1" MaxRetries="0" />
  <MsmqSubscriptionStorageConfig Queue="Composable.Testing.NoSubscriptions.Subscriptions" />
  <log4net debug="false">
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="CQRS.Tests.log" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.XMLLayout" />
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
    <logger name="NServiceBus">
      <level value="WARN" />
    </logger>
    <logger name="Composable">
      <level value="Debug" />
    </logger>
  </log4net>
  <runtime>
  </runtime>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
</configuration>