<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net40" />
  <package id="FluentAssertions" version="4.0.0" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="NCrunch.Framework" version="2.16.0.13" targetFramework="net40" />
  <package id="NServiceBus" version="3.0.3.32" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.CastleWindsor" version="3.0.3.32" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.Host" version="3.0.3.32" allowedVersions="[1,5.0)" />
  <package id="NServiceBus.Testing" version="3.0.3.32" allowedVersions="[1,5.0)" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
</packages>