@{
    ViewData["Title"] = "Home Page";
}

<h3>Start</h3>

<div>
	<div><a asp-controller="Login" asp-action="LoginForm">Log in</a></div>
	<div><a asp-controller="Register" asp-action="RegistrationForm">Register account</a></div>
</div>